@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

:root {
    --main-bg-color: #5B2386;
    --main-text-color: #FFFFFF;
    --point-text-color: #5B2386;
    --quote-color: #F5DF4D;
    --btn-color: #FCEE21;
    --placeholder-color: #BABCBE;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--main-bg-color);
}

main {
    font-family: 'GmarketSansMedium';
    font-size: 1.4rem;
    color: var(--main-text-color);
    text-align: center;
}

h1 {
    position: relative;
    height: 126px;
    margin: 41px auto 0;
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.title-img {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 267px;
    height: 53px;
}

.quote {
    margin-top: 31px;
    font-size: 2.2rem;
    font-family: 'OTEnjoystoriesBA';
    font-weight: 700;
    color: var(--quote-color);
    line-height: 24px;
}

dl {
    /* width: 302px; */
    margin-top: 62px;
    text-align: center;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-size: 302px;
    background-position: 24px;
    background-position: center;
}

.for-br {
    display: block;
}

dd>:not(span:nth-child(1)) {
    margin-top: 13px;
}

dfn {
    font-family: 'GmarketSansBold';
    /* font-weight: 700; */
}

.time-computation {
    margin-top: 62px;
}

.goal>span:nth-child(2) {
    margin: 17px 0 0;
}

input {
    box-sizing: content-box;
    width: 156px;
    height: 1.4rem;
    padding: 12px 0 11px;
    border-radius: 7px;
    color: var(--point-text-color);
    text-align: center;
}

input::placeholder {
    color: var(--placeholder-color);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.computation-btn {
    position: relative;
    box-sizing: content-box;
    padding: 19px 36.5px 17px;
    gap: 10px;
    color: var(--point-text-color);
    background-color: var(--btn-color);
    margin-top: 49px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
}

.click-img {
    position: absolute;
    /* bottom: 0; */
    left: calc(100% + 6px);
    /* bottom 위치를 어떻게 잡아야 할지 잘 모르겠음 */
    bottom: -7px;
    width: 43px;
    height: 48px;
}

@media screen and (min-width: 395px) {
    input {
        width: 228px;
    }
    .computation-btn {
        width: 168px;
    }
}

@media screen and (max-width: 526px) {
    .mobile-br {
        display: block;
        margin-top: 19px;
    }
    .computation-btn>span {
        margin-top: 0;
    }
}