/* 글꼴 */
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

/* 색깔 지정 */
:root {
    --main-bg-color: #5B2386;
    --main-text-color: #FFFFFF;
    --point-text-color: #5B2386;
    --quote-color: #F5DF4D;
    --btn-color: #FCEE21;
    --placeholder-color: #BABCBE;
}

/* 요소 숨김 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

/* 이미지 깨짐 문제 */
img {
    transform: translateZ(0);
}

/* 메인 코드 */
/* 모바일부터 시작함 */
html {
    /* 계산 편리함을 위해 글꼴 10px로 설정 */
    font-size: 10px;
}

body {
    font-size: 1.4rem;
    background-color: var(--main-bg-color);
    font-family: 'GmarketSansMedium';
}

main {
    color: var(--main-text-color);
    text-align: center;
}

h1 {
    position: relative;
    height: 126px;
    margin: 41px auto 0;
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.title-img {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 267px;
    height: 53px;
}

.quote {
    margin-top: 31px;
    font-size: 2.2rem;
    font-family: 'OTEnjoystoriesBA';
    font-weight: 700;
    color: var(--quote-color);
    line-height: 24px;
}

dl {
    /* width: 302px; */
    margin-top: 62px;
    text-align: center;
    background-image: url(../img/quotes.png);
    background-repeat: no-repeat;
    background-size: 302px;
    background-position: 24px;
    background-position: center;
}

.for-br {
    display: block;
}

dd>span:nth-child(2), dd>span:nth-child(3) {
    margin-top: 13px;
}

dfn {
    /* font-family로 해야할지 font-weight로 해야할지 헷갈림 */
    font-family: 'GmarketSansBold';
    /* font-weight: 700; */
}

/* section.time-computation area */
.time-computation {
    margin-top: 62px;
}

.goal>span:nth-child(2) {
    margin: 17px 0 0;
}

input {
    box-sizing: content-box;
    width: 156px;
    height: 1.4rem;
    padding: 12px 0 11px;
    border-radius: 7px;
    color: var(--point-text-color);
    text-align: center;
}

input::placeholder {
    color: var(--placeholder-color);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.computation-btn {
    position: relative;
    padding: 19px 36.5px 17px;
    min-width: 168px;
    height: 3.2rem;
    color: var(--point-text-color);
    margin-top: 49px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
}

.mobile-br {
    display: block;
}

.goal .mobile-br {
    margin-top: 19px;
}

.click-img {
    position: absolute;
    /* bottom: 0; */
    left: calc(100% + 6px);
    /* bottom 위치를 어떻게 잡아야 할지 잘 모르겠음 */
    bottom: -7px;
    width: 43px;
    height: 48px;
}

/* section.computation-result area */
.computation-result {
    margin-top: 64px;
}

strong {
    font-size: 2.4rem;
    /* font-family: 'GmarketSansBold'; */
    font-weight: 700;
}

.computation-result .for-br {
    margin-top: 15px;
}

.study, .share {
    border-radius: 56px;
    
}

.study {
    padding: 13.5px 17.5px 12.5px;
    height: 1em;
    margin-right:13px;
}

.share {
    padding: 13.5px 19px 12.5px;
    height: 1em;
}

.studynshare {
    margin-top: 55px;
}

.studynshare button:nth-child(2) {
    background-color: white;
}

/* footer area */
footer {
    margin-top: 83px;
    margin-bottom: 30px;
    text-align: center;
}

small {
    font-size: 0.9rem;
}

.logo-img {
    width: 91px;
    height: 18px;
}

.copyright {
    margin-top: 17px;
}

/* 모달 */
.modal {
    /* font-family: 'GmarketSansMedium'; */
    /* 330 / 360 = 91.66% */
    padding: 40px 45px;
    margin: 0 auto;
    width: 91.7%;
    max-width: 800px;
    /* height: 500px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    text-align: center;
}

.licat-img {
    width: 178.6125px;
}

.go-btn {
    font-family: 'GmarketSansBold';
    display: block;
    background-color: var(--btn-color);
    box-sizing: content-box;
    padding: 19px 36.5px 17px;
    min-width: 168px;
    /* height: 3.2rem; */
    color: var(--point-text-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    font-size: 1.4rem;
    margin-top: 25.96px;
}

.cheer-up {
    margin-bottom: 30px;
}

/* 반응형 */
@media screen and (min-width: 527px) {
    input {
        width: 228px;
    }

    .mobile-br {
        display: initial;
        margin-top: 0;
    }
}